.icon-text{
    text-align: left;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}
.icon-text p{
    padding-left: 5px;
}
.location{
    width: 300px;
}
.title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
}

.title a{
    background-color: #5fcf80;
    color: white;
    height: 30px;
    padding: 5px 5px;
    border-color: #5fcf80;
}
.title a:hover{
    background-color: white;
    color: #5fcf80;
}

.detail{
    display: flex;
    flex-direction:row;
    margin: 0 auto;
}
h4{
    padding-left: 10px;
    margin-top: 25px;
    color: #5fcf80;
    text-align: left;
}
#edit-btn{
    background-color: #2d8ce5;
    border-color: #2d8ce5;
    width: 45px;
}
#edit-btn:hover{
    background-color: white;
    color: #2d8ce5;
}
#delete-btn{
    margin-left: 55%;
    background-color: red;
    border-color: red;
}
#delete-btn:hover{
    background-color: white;
    color: red;
}