<section class="section-padding">
  <div class="container">
    <div class="row">
      <div class="header-section text-center">
        <h2>Manage Subscribers - {{meetup.name}}#{{meetup.sequenceNo}}</h2>
        <hr class="bottom-line"><br>
      </div>
      <div class="service-box text-center">
            <p class="col-md-2">Name</p>
            <p class="col-md-2">Email</p>
            <p class="col-md-3">Phone</p>
            <p class="col-md-3">Github</p>
            <button *ngIf="!allSubscribersConfirmed" (click)="approveAll()" class="btn btn-success edit-btn">Approve All</button>
      </div>
      <div class="col" *ngFor="let subscriber of subscribers; let i = index;">
        <div class="service-box text-center">
            <p class="col-md-2">{{subscriber.user.name}}</p>
            <p class="col-md-2">{{subscriber.user.email}}</p>
            <p class="col-md-3">{{subscriber.user.phone}}</p>
            <a *ngIf="subscriber.user?.github !== ''" [href]="subscriber.user?.github" class="col-md-3"><p>{{subscriber.user?.github}}</p></a>
            <p *ngIf="subscriber.user?.github === ''" class="col-md-3">No link provided</p>
            <button *ngIf="!subscriber?.confirmed" (click)="approve(subscriber._id)" class="btn btn-success edit-btn">Approve</button>
            <div *ngIf="subscriber?.confirmed" class="btn btn-success">Approved</div>
        </div>
      </div>
    </div>
  </div>
</section>