
<!--Intro Card-->
<section id ="feature" class="section-padding">
  <div class="container">
    <div class="row">
      <div class="header-section text-center">
        <h2>Social</h2>
        <p>Connect with us on social platforms.</p>
        <hr class="bottom-line">
      </div>
      <div class="feature-info">
        <div class="fea">
          <div class="col-md-4">
            <div class="heading pull-right">
              <h4>Facebook</h4>
              <ul>
                <li> </li>
                <li>
                  <iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2FngPakistan%2F&width=20&layout=standard&action=like&size=small&show_faces=true&share=true&height=80&appId=436899119686242" width="50" height="80" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
                </li>
              </ul>
            </div>
            <div class="fea-img pull-left">
              <i class="fa fa-facebook-official"></i>
            </div>
          </div>
        </div>
        <div class="fea">
          <div class="col-md-4">
            <div class="heading pull-right">
              <h4>Twitter</h4>
              <ul>
                <li> </li>
                <li>
                  <a href="https://twitter.com/ng_pakistan" class="twitter-follow-button" data-show-count="false">Follow @ng_pakistan</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                </li>
              </ul>
            </div>
            <div class="fea-img pull-left">
              <i class="fa fa-twitter"></i>
            </div>
          </div>
        </div>
        <div class="fea">
          <div class="col-md-4">
            <div class="heading pull-right">
              <h4>Github</h4>
              <ul>
                <li> </li>
                <li>
                  <a class="github-button" href="https://github.com/angular-pakistan"
                     aria-label="Follow @angular-pakistan on GitHub">Follow @angular-pakistan</a>
                </li>
              </ul>
            </div>
            <div class="fea-img pull-left">
              <i class="fa fa-github"></i>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
<!--/ feature-->

