
<!--Intro Card-->
<section id ="feature" class="section-padding">
  <div class="container">
    <div class="row">
      <div class="header-section text-center">
        <h2>Who we are? What we do?</h2>
        <p>We are a group of Angular & JavaScript enthusiasts<br> We love to care, share and learn.</p>
        <hr class="bottom-line">
      </div>
      <div class="feature-info">
        <div class="fea">
          <div class="col-md-4">
            <div class="heading pull-right">
              <h4>Pakistani Software Engineers</h4>
              <p>We are software engineers, software enthusiasts and geeks from Pakistan working on building a better world with open source</p>
            </div>
            <div class="fea-img pull-left">
              <img src="../../../assets/img/pakistan-128.png" alt="" style="width: 64px; height: 64px;">
            </div>
          </div>
        </div>
        <div class="fea">
          <div class="col-md-4">
            <div class="heading pull-right">
              <h4>Open Source Community</h4>
              <p>We believe in the power of open source software. Building a strong open source community in Pakistan is our mission.</p>
            </div>
            <div class="fea-img pull-left">
              <img src="../../../assets/img/community-64.png" alt="">
            </div>
          </div>
        </div>
        <div class="fea">
          <div class="col-md-4">
            <div class="heading pull-right">
              <h4>Driven By Passion</h4>
              <p> We are driven by passion to bring talented engineers to the Angular Community. Learning and sharing new technologies push us forward.</p>
            </div>
            <div class="fea-img pull-left">
              <img src="../../../assets/img/passion-48.png" alt="">
            </div>
          </div>
        </div>
        <div class="fea">
          <div class="col-md-4">
            <div class="heading pull-right">
              <h4>Angular Lovers</h4>
              <p> We are the official Angular community representing frontend software engineers from Pakistan. We love the Angular eco systems. </p>
            </div>
            <div class="fea-img pull-left">
              <img src="../../../assets/img/angular-round-64.png" alt="">
            </div>
          </div>
        </div>
        <div class="fea">
          <div class="col-md-4">
            <div class="heading pull-right">
              <h4>JavaScript Enthusiasts</h4>
              <p> JavaScript is in our DNA. We learn, write, read, code, sleep, eat  and dream JavaScript.</p>
            </div>
            <div class="fea-img pull-left">
              <img src="../../../assets/img/js-64.png" alt="">
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
<!--/ feature-->
