<section id="presskit" class="section-padding">
  <div class="container">
    <div class="row">
      <div class="col">
        <h1>Angular Pakistan Logo - Press Kit</h1>
        <p>
          The logo graphics available for download on this page are provided under <a href="https://creativecommons.org/licenses/by/4.0/" target="_blank">CC BY 4.0</a>. This means that you can pretty much do what you like with it including printing it on shirts, glasses and elsewhere.
        </p>
        <p>
          <strong> <em>The only thing we do not allow (unlike CC) is making variations of this logo. This is the only Angular Pakistan logo, we would like it to be consistent everywhere.</em></strong>
          We do ask that you not use the rest of the site graphics in other contexts to avoid confusion.
        </p>
      </div>
    </div>
    <div class="row logo-row">
      <div class="col col-sm-3 logo-col">
        <img [src]="pressKitLogo" alt="Angular Pakistan Logo" class="section-logo">
      </div>
      <div class="col col-sm-9">
        <h3>Color Logo</h3>
        <ul class="logo-list">
          <li>
            <h4>Large ( 4528 x 4609 )</h4>
          </li>
          <li> <a href="../../assets/img/angular-pakistan-L.png" download >Angular Pakistan Logo - Large - (png) </a> 178kb</li>
          <li> <a href="../../assets/img/angular-pakistan-L.gif" download >Angular Pakistan Logo - Large - (gif) </a> 116kb </li>
          <li> <a href="../../assets/img/angular-pakistan-L.jpg" download >Angular Pakistan Logo - Large - (jpeg) </a> 397kb</li>
          <li> <a href="../../assets/img/angular-pakistan-L.ico" download >Angular Pakistan Logo - Large - (ico) </a> 370kb</li>

          <li>
            <h4>Medium ( 2000 x 1745 )</h4>
          </li>
          <li> <a href="../../assets/img/angular-pakistan-M.png" download >Angular Pakistan Logo - Medium - (png) </a> 59kb</li>
          <li> <a href="../../assets/img/angular-pakistan-M.gif" download >Angular Pakistan Logo - Medium - (gif) </a> 33kb </li>
          <li> <a href="../../assets/img/angular-pakistan-M.jpg" download >Angular Pakistan Logo - Medium - (jpeg) </a> 87kb</li>
          <li> <a href="../../assets/img/angular-pakistan-M.ico" download >Angular Pakistan Logo - Medium - (ico) </a> 370kb</li>

          <li>
            <h4>Small ( 857 × 872 )</h4>
          </li>
          <li> <a href="../../assets/img/angular-pakistan-S.png" download >Angular Pakistan Logo - Small - (png) </a> 20kb</li>
          <li> <a href="../../assets/img/angular-pakistan-S.gif" download >Angular Pakistan Logo - Small - (gif) </a> 13kb </li>
          <li> <a href="../../assets/img/angular-pakistan-S.jpg" download >Angular Pakistan Logo - Small - (jpeg) </a> 29kb</li>
          <li> <a href="../../assets/img/angular-pakistan-S.ico" download >Angular Pakistan Logo - Small - (ico) </a> 370kb</li>

        </ul>
      </div>
    </div>
  </div>

</section>
