<section id="testimonial" class="section-padding">
    <div class="container">
            <form (ngSubmit)="login()" #loginForm="ngForm">
        <div class="buffer">
        </div>
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                    <div class="controls" [class.has-error]="showError">
                        <input name="email"
                        placeholder="Email"
                        class="form-control"
                        type="email"
                        (input)="resetError()"
                        required
                        [(ngModel)]="email">
                    </div>
                    <br>
                    <div class="form-group" [class.has-error]="showError">
                        <input type="password"
                        name="password"
                        id="password"
                        class="form-control"
                        placeholder="Password"
                        (input)="resetError()"
                        required
                        [(ngModel)]="password">
                        <span *ngIf="showError" class="help-block">{{errorMessage}}</span>
                    </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <input type="submit" 
                id="btn-login"
                class="btn btn-custom btn-lg btn-block"
                [value]="loginBtnMsg"
                [disabled]="!loginForm.form.valid || disableSubmit">
                <a [routerLink]=" ['../signup']"
                id="btn-login" class="btn btn-custom btn-lg btn-block btn-success">Sign up</a>
            </div>
        </div>
        </form>
    </div>
</section>