<section id="testimonial" class="section-padding">
    <div class="container">
            <form (ngSubmit)="login()" #loginForm="ngForm">
        <div class="buffer">
        </div>
        <div class="row">
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
                    <div class="controls">
                        <input name="email" placeholder="Enter Your email" class="form-control" type="email"  required [(ngModel)]="email">
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="password" class="sr-only">password</label>
                        <input type="password" name="password" id="password" class="form-control" placeholder="password" required [(ngModel)]="password">
                    </div>
               
            </div>
            <div class="col-md-4">
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
                <input type="submit" id="btn-login" class="btn btn-custom btn-lg btn-block" value="Log in" [disabled]="!loginForm.form.valid">
            </div>
            <div class="col-md-4">
            </div>
        </div>
        </form>
    </div>
</section>