<section id="testimonial" class="section-padding">
    <div class="container">
        <div class="buffer">
        </div>
        <div class="row">
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
                <form role="form" action="javascript:;" method="post" id="login-form" autocomplete="off">
                    <div class="controls">
                        <input name="name" placeholder="Enter Your Name" class="form-control" type="text">
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="password" class="sr-only">password</label>
                        <input type="password" name="password" id="password" class="form-control" placeholder="password">
                    </div>
                </form>
            </div>
            <div class="col-md-4">
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
                <input type="submit" id="btn-login" class="btn btn-custom btn-lg btn-block" value="Log in">
            </div>
            <div class="col-md-4">
            </div>
        </div>
    </div>
</section>