<!--Banner-->
<div class="banner">
  <div class="bg-color">
    <div class="container">
      <div class="row">
        <div class="banner-text text-center">
          <div class="text-border">
            <h2 class="text-dec">Official Angular JS Community in Pakistan</h2>
          </div>
          <div class="intro-para text-center quote">
            <p class="big-text">We meet. We learn. We share.</p>
            <p class="small-text">#AnythingAngular #AnythingJavaScript</p>
            <a class="btn" [routerLink]=" ['../joinUs']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Join Us</a>
          </div>
          <a href="#feature" class="mouse-hover"><div class="mouse"></div></a>
        </div>
      </div>
    </div>
  </div>
</div>
<!--/ Banner-->
