<!--Conference Card-->
<section id="testimonial" class="section-padding">
  <div class="container">
    <div class="row">
      <div class="header-section text-center">
        <h2 class="white">Open Source Software Conferences in Pakistan</h2>
        <p class="white">Bringing Software revolution in Pakistan<br>Join us!</p>
        <hr class="bottom-line bg-white">
      </div>
      <div *ngFor="let conference of conferences" class="col-md-6 col-sm-6">
        <div class="text-comment">
            <h3 class="green"><a [href]="conference.url">{{conference.name}}</a></h3>
            <h6>{{conference.date}}</h6>
          <p class="text-name">By {{conference.organiser}}</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- / Conference Card-->
