<!--Contact-->
<section id ="contact" class="section-padding">
  <div class="container">
    <div class="row">
      <div class="header-section text-center">
        <h2>Contact Us</h2>
        <p>Have a question, suggestion or comment?<br>Shoot!</p>
        <hr class="bottom-line">
      </div>
      <div id="sendmessage">Your message has been sent. Thank you!</div>
      <div id="errormessage"></div>
      <!--<form action="" method="post" role="form" class="contactForm">-->
      <form [formGroup]="contactUsForm" novalidate (ngSubmit)="onSubmit()">
        <div class="col-md-6 col-sm-6 col-xs-12 left">
          <div class="form-group">
            <input formControlName="name" type="text" name="name" class="form-control form" id="name" placeholder="Your Name (*)" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
            <div class="validation" *ngIf="contactUsForm.get('name').hasError('maxlength') && contactUsForm.get('name').touched">
              Please enter name less than 50 characters.
            </div>
          </div>
          <div class="form-group">
            <input formControlName="email" type="email" class="form-control" name="email" id="email" placeholder="Your Email (*)" data-rule="email" data-msg="Please enter a valid email" />
            <div class="validation" *ngIf="contactUsForm.get('email').hasError('email') && contactUsForm.get('email').touched">
              Please enter valid email address.
            </div>
          </div>
          <div class="form-group">
            <input formControlName="subject" type="text" class="form-control" name="subject" id="subject" placeholder="Subject (*)" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
            <div class="validation" *ngIf=" (contactUsForm.get('subject').hasError('minlength') ||  contactUsForm.get('subject').hasError('maxlength') )  && contactUsForm.get('subject').touched">
              Please enter subject between 5 and 100 characters only.
            </div>
          </div>
        </div>

        <div class="col-md-6 col-sm-6 col-xs-12 right">
          <div class="form-group">
            <textarea formControlName="message" class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us (*)" placeholder="Message"></textarea>
            <div class="validation" *ngIf="contactUsForm.get('message').hasError() && contactUsForm.get('message').touched">
              Please enter message up to 500 characters only.
            </div>
          </div>
        </div>

        <div class="col-xs-12">
          <!-- Button -->
          <button type="submit" id="submit" name="submit" [disabled]="contactUsForm.invalid" class="form contact-form-button light-form-button oswald light" [ngClass]="{'disabled':contactUsForm.invalid}">SEND EMAIL</button>
        </div>
        <div class="col-xs-12 btn-green success" *ngIf="showSuccessMsg">
            Thanks for sending us this message. We will get back to you shortly.
        </div>

      </form>

    </div>
  </div>
</section>
<!--/ Contact-->
