<form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
    <div class="block">
        <label [class.has-error]="isValid('name')">
            <p>Name <span *ngIf="isValid('name')" class="help-block pull-right">Required</span></p>
            <input class="form-control" type="text" formControlName="name">
        </label>
        <label [class.has-error]="isValid('email')">
            <p>Email <span *ngIf="isValid('email')" class="help-block pull-right">Invalid</span></p>
            <input class="form-control" type="email" formControlName="email">
        </label>
        <label [class.has-error]="isValid('company')">
            <p>Company <span *ngIf="isValid('company')" class="help-block pull-right">Invalid</span></p>
            <input class="form-control" type="text" formControlName="company">
        </label>
    </div>
    <div class="block">
        <label [class.has-error]="isValid('github')">
            <p>Github <span *ngIf="isValid('github')" class="help-block pull-right">Invalid</span></p>
            <input class="form-control" type="url" formControlName="github">
        </label>
        <label [class.has-error]="isValid('linkedIn')">
            <p>LinkedIn <span *ngIf="isValid('linkedIn')" class="help-block pull-right">Invalid</span></p>
            <input class="form-control" type="url" formControlName="linkedIn">
        </label>
        <label [class.has-error]="isValid('twitter')">
            <p>Twitter <span *ngIf="isValid('twitter')" class="help-block pull-right">Invalid</span></p>
            <input class="form-control" type="url" formControlName="twitter">
        </label>
    </div>
    <div id="button-container">
		<button id="cancel"
        class="btn"
        (click)="onCancel()"
		[disabled]="disable">
		Cancel
		</button>
		<button id="submit"
		class="btn btn-success"
		type="submit"
		[disabled]="disable || !form.valid">
		Publish
		</button>
	</div> 
</form>