<app-navigation></app-navigation>
<app-main-banner></app-main-banner>
<app-intro-card></app-intro-card>
<app-meetup-card [currentMeetup]="currentMeetup" [prevMeetup]="prevMeetup"></app-meetup-card>

<!--Organisations-->
<section id ="organisations" class="section-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
          <div class="orga-stru">
            <h3>65%</h3>
            <p>Say NO!!</p>
            <i class="fa fa-male"></i>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
          <div class="orga-stru">
            <h3>20%</h3>
            <p>Says Yes!!</p>
            <i class="fa fa-male"></i>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
          <div class="orga-stru">
            <h3>15%</h3>
            <p>Can't Say!!</p>
            <i class="fa fa-male"></i>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="detail-info">
          <!--<hgroup>-->
            <h3 class="det-txt"> Is inclusive quality education affordable?</h3>
            <h4 class="sm-txt">(Revised and Updated for 2016)</h4>
          <!--</hgroup>-->
          <p class="det-p">Donec et lectus bibendum dolor dictum auctor in ac erat. Vestibulum egestas sollicitudin metus non urna in eros tincidunt convallis id id nisi in interdum.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!--/ Organisations-->



<!--Faculity member-->
<section id="faculity-member" class="section-padding">
  <div class="container">
    <div class="row">
      <div class="header-section text-center">
        <h2>Meet Our Faculty Member</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem nesciunt vitae,<br> maiores, magni dolorum aliquam.</p>
        <hr class="bottom-line">
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="pm-staff-profile-container" >
          <div class="pm-staff-profile-image-wrapper text-center">
            <div class="pm-staff-profile-image">
              <img src="assets/img/mentor.jpg" alt="" class="img-thumbnail img-circle" />
            </div>
          </div>
          <div class="pm-staff-profile-details text-center">
            <p class="pm-staff-profile-name">Bryan Johnson</p>
            <p class="pm-staff-profile-title">Lead Software Engineer</p>

            <p class="pm-staff-profile-bio">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec et placerat dui. In posuere metus et elit placerat tristique. Maecenas eu est in sem ullamcorper tincidunt. </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="pm-staff-profile-container" >
          <div class="pm-staff-profile-image-wrapper text-center">
            <div class="pm-staff-profile-image">
              <img src="assets/img/mentor.jpg" alt="" class="img-thumbnail img-circle" />
            </div>
          </div>
          <div class="pm-staff-profile-details text-center">
            <p class="pm-staff-profile-name">Bryan Johnson</p>
            <p class="pm-staff-profile-title">Lead Software Engineer</p>

            <p class="pm-staff-profile-bio">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec et placerat dui. In posuere metus et elit placerat tristique. Maecenas eu est in sem ullamcorper tincidunt. </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="pm-staff-profile-container" >
          <div class="pm-staff-profile-image-wrapper text-center">
            <div class="pm-staff-profile-image">
              <img src="assets/img/mentor.jpg" alt="" class="img-thumbnail img-circle" />
            </div>
          </div>
          <div class="pm-staff-profile-details text-center">
            <p class="pm-staff-profile-name">Bryan Johnson</p>
            <p class="pm-staff-profile-title">Lead Software Engineer</p>

            <p class="pm-staff-profile-bio">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec et placerat dui. In posuere metus et elit placerat tristique. Maecenas eu est in sem ullamcorper tincidunt. </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--/ Faculity member-->
<!--Testimonial-->
<section id="testimonial" class="section-padding">
  <div class="container">
    <div class="row">
      <div class="header-section text-center">
        <h2 class="white">See What Our Customer Are Saying?</h2>
        <p class="white">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem nesciunt vitae,<br> maiores, magni dolorum aliquam.</p>
        <hr class="bottom-line bg-white">
      </div>
      <div class="col-md-6 col-sm-6">
        <div class="text-comment">
          <p class="text-par">"Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, nec sagittis sem"</p>
          <p class="text-name">Abraham Doe - Creative Dırector</p>
        </div>
      </div>
      <div class="col-md-6 col-sm-6">
        <div class="text-comment">
          <p class="text-par">"Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, nec sagittis sem"</p>
          <p class="text-name">Abraham Doe - Creative Dırector</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!--/ Testimonial-->
<!--Courses-->
<section id ="courses" class="section-padding">
  <div class="container">
    <div class="row">
      <div class="header-section text-center">
        <h2>Courses</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem nesciunt vitae,<br> maiores, magni dolorum aliquam.</p>
        <hr class="bottom-line">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-6 padleft-right">
        <figure class="imghvr-fold-up">
          <img src="assets/img/course01.jpg" class="img-responsive">
          <figcaption>
            <h3>Course Name</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam atque, nostrum veniam consequatur libero fugiat, similique quis.</p>
          </figcaption>
          <a href="#"></a>
        </figure>
      </div>
      <div class="col-md-4 col-sm-6 padleft-right">
        <figure class="imghvr-fold-up">
          <img src="assets/img/course02.jpg" class="img-responsive">
          <figcaption>
            <h3>Course Name</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam atque, nostrum veniam consequatur libero fugiat, similique quis.</p>
          </figcaption>
          <a href="#"></a>
        </figure>
      </div>
      <div class="col-md-4 col-sm-6 padleft-right">
        <figure class="imghvr-fold-up">
          <img src="assets/img/course03.jpg" class="img-responsive">
          <figcaption>
            <h3>Course Name</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam atque, nostrum veniam consequatur libero fugiat, similique quis.</p>
          </figcaption>
          <a href="#"></a>
        </figure>
      </div>
      <div class="col-md-4 col-sm-6 padleft-right">
        <figure class="imghvr-fold-up">
          <img src="assets/img/course04.jpg" class="img-responsive">
          <figcaption>
            <h3>Course Name</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam atque, nostrum veniam consequatur libero fugiat, similique quis.</p>
          </figcaption>
          <a href="#"></a>
        </figure>
      </div>
      <div class="col-md-4 col-sm-6 padleft-right">
        <figure class="imghvr-fold-up">
          <img src="assets/img/course05.jpg" class="img-responsive">
          <figcaption>
            <h3>Course Name</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam atque, nostrum veniam consequatur libero fugiat, similique quis.</p>
          </figcaption>
          <a href="#"></a>
        </figure>
      </div>
      <div class="col-md-4 col-sm-6 padleft-right">
        <figure class="imghvr-fold-up">
          <img src="assets/img/course06.jpg" class="img-responsive">
          <figcaption>
            <h3>Course Name</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam atque, nostrum veniam consequatur libero fugiat, similique quis.</p>
          </figcaption>
          <a href="#"></a>
        </figure>
      </div>
    </div>
  </div>
</section>
<!--/ Courses-->
<!--Pricing-->
<section id ="pricing" class="section-padding">
  <div class="container">
    <div class="row">
      <div class="header-section text-center">
        <h2>Our Pricing</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem nesciunt vitae,<br> maiores, magni dolorum aliquam.</p>
        <hr class="bottom-line">
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="price-table">
          <!-- Plan  -->
          <div class="pricing-head">
            <h4>Monthly Plan</h4>
            <span class="fa fa-usd curency"></span> <span class="amount">200</span>
          </div>

          <!-- Plean Detail -->
          <div class="price-in mart-15">
            <a href="#" class="btn btn-bg green btn-block">PURCHACE</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="price-table">
          <!-- Plan  -->
          <div class="pricing-head">
            <h4>Quarterly Plan</h4>
            <span class="fa fa-usd curency"></span> <span class="amount">800</span>
          </div>

          <!-- Plean Detail -->
          <div class="price-in mart-15">
            <a href="#" class="btn btn-bg yellow btn-block">PURCHACE</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="price-table">
          <!-- Plan  -->
          <div class="pricing-head">
            <h4>Year Plan</h4>
            <span class="fa fa-usd curency"></span> <span class="amount">1200</span>
          </div>

          <!-- Plean Detail -->
          <div class="price-in mart-15">
            <a href="#" class="btn btn-bg red btn-block">PURCHACE</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--/ Pricing-->
<!--Contact-->
<section id ="contact" class="section-padding">
  <div class="container">
    <div class="row">
      <div class="header-section text-center">
        <h2>Contact Us</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem nesciunt vitae,<br> maiores, magni dolorum aliquam.</p>
        <hr class="bottom-line">
      </div>
      <div id="sendmessage">Your message has been sent. Thank you!</div>
      <div id="errormessage"></div>
      <form action="" method="post" role="form" class="contactForm">
        <div class="col-md-6 col-sm-6 col-xs-12 left">
          <div class="form-group">
            <input type="text" name="name" class="form-control form" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
            <div class="validation"></div>
          </div>
          <div class="form-group">
            <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
            <div class="validation"></div>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
            <div class="validation"></div>
          </div>
        </div>

        <div class="col-md-6 col-sm-6 col-xs-12 right">
          <div class="form-group">
            <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
            <div class="validation"></div>
          </div>
        </div>

        <div class="col-xs-12">
          <!-- Button -->
          <button type="submit" id="submit" name="submit" class="form contact-form-button light-form-button oswald light">SEND EMAIL</button>
        </div>
      </form>

    </div>
  </div>
</section>
<!--/ Contact-->
<!--Footer-->
<footer id="footer" class="footer">
  <div class="container text-center">

    <h3>Start Your Free Trial Now!</h3>

    <form class="mc-trial row">
      <div class="form-group col-md-3 col-md-offset-2 col-sm-4">
        <div class=" controls">
          <input name="name" placeholder="Enter Your Name" class="form-control" type="text">
        </div>
      </div><!-- End email input -->
      <div class="form-group col-md-3 col-sm-4">
        <div class=" controls">
          <input name="EMAIL" placeholder="Enter Your email" class="form-control" type="email">
        </div>
      </div><!-- End email input -->
      <div class="col-md-2 col-sm-4">
        <p>
          <button name="submit" type="submit" class="btn btn-block btn-submit">
            Submit <i class="fa fa-arrow-right"></i></button>
        </p>
      </div>
    </form><!-- End newsletter-form -->
    <ul class="social-links">
      <li><a href="#link"><i class="fa fa-twitter fa-fw"></i></a></li>
      <li><a href="#link"><i class="fa fa-facebook fa-fw"></i></a></li>
      <li><a href="#link"><i class="fa fa-google-plus fa-fw"></i></a></li>
      <li><a href="#link"><i class="fa fa-dribbble fa-fw"></i></a></li>
      <li><a href="#link"><i class="fa fa-linkedin fa-fw"></i></a></li>
    </ul>
    ©2016 Mentor Theme. All rights reserved
    <div class="credits">
      <!--
          All the links in the footer should remain intact.
          You can delete the links only if you purchased the pro version.
          Licensing information: https://bootstrapmade.com/license/
          Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Mentor
      -->
      Designed by <a href="https://bootstrapmade.com/">Free Bootstrap Themes</a>
    </div>
  </div>
</footer>
<!--/ Footer-->
