<section class="section-padding">
  <div class="container">
    <div class="header-section text-center">
      <h2>Admin Panel</h2>
      <hr class="bottom-line"><br>
    </div>
    <div class="row">
      <!-- <div id="card">
        <i class="material-icons">people</i>
        <p>Users</p>
      </div> -->
      <a [routerLink]=" ['./meetups']" routerLinkActive="active"     [routerLinkActiveOptions]="{exact: true}">
        <div id="card">
          <i class="material-icons">event</i>
          <p>Meetups</p>
        </div>
      </a>
      <a [routerLink]=" ['./speakers']" routerLinkActive="active"     [routerLinkActiveOptions]="{exact: true}">
        <div id="card">
          <i class="material-icons">mic</i>
          <p>Speakers</p>
        </div>
      </a>
    </div>
  </div>
</section>
