<section id="testimonial" class="section-padding">
    <div class="container">
        <div class="buffer">
        </div>
        <div class="row">
            <form role="form" action="javascript:;" method="post" id="login-form" autocomplete="off">
                <div class="col-md-6">
                    <div class="controls">
                        <input name="name" placeholder="Enter Your Name" class="form-control" type="text">
                    </div>
                    <div class="buffer">
                    </div>
                    <div class="form-group">
                        <label for="phone1" class="sr-only">phone 1</label>
                        <input type="text" name="phone1" id="phone1" class="form-control" placeholder="Phone 1">
                    </div>
                    <div class="buffer">
                    </div>
                    <div class="form-group">
                        <label for="phone2" class="sr-only">phone 2</label>
                        <input type="phone2" name="phone2" id="phone2" class="form-control" placeholder="phone 2">
                    </div>
                    <div class="buffer">
                    </div>

                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="email1" class="sr-only">Email 1</label>
                        <input type="email1" name="email1" id="email1" class="form-control" placeholder="somebody@example.com">
                    </div>
                    <div class="buffer">
                    </div>
                    <div class="form-group">
                        <label for="email2" class="sr-only">email 2</label>
                        <input type="email2" name="email2" id="email2" class="form-control" placeholder="email 2">
                    </div>
                    <div class="buffer">
                    </div>
                    <div class="form-group">
                        <label for="key" class="sr-only">Password</label>
                        <input type="password" name="key" id="key" class="form-control" placeholder="Password">
                    </div>
                    <div class="buffer">
                    </div>
                </div>
            </form>
        </div>
        <div class="row">
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
                <input type="submit" id="btn-login" class="btn btn-custom btn-lg btn-block" value="signup">
            </div>
            <div class="col-md-4">
            </div>
        </div>
    </div>
</section>