<section id="workshop" class="section-padding">
	<div class="container">
		<div class="row">
			<div class="header-section text-center">
				<h2>Add Meetup</h2>
				<hr class="bottom-line">
            </div>
			<div class="col">
				<app-meetup-form
				[disable]="disable"
				[speakers]="speakers"
				(speakerEvent)="onNewSpeaker($event)"
				(submitEvent)="handleSubmit($event)"
				(cancelEvent)="onCancel($event)"></app-meetup-form>
			</div>
		</div>
		<div *ngIf="newSpeaker" id="myModal" class="row modal">

		<!-- Modal content -->
		<div class="modal-content">
			<span class="close" (click)="onNewSpeaker(false)">&times;</span>
			<app-speaker-form
			[disable]="speakerDisable"
			(submitEvent)="onSpeakerSubmit($event)"
			(cancelEvent)="onNewSpeaker($event)"></app-speaker-form>
		</div>

		</div>
	</div>
</section>