<!--Navigation bar-->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" [routerLink]=" ['../../home'] " routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Angular
        <span>Pakistan</span>
      </a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a [routerLink]=" ['../../meetups'] " routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            Meetups
          </a>
        </li>
        <li>
          <a [routerLink]=" ['../../conferences'] " routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            Conferences
          </a>
        </li>
        <li>
          <a [routerLink]=" ['../../projects'] " routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            Projects
          </a>
        </li>
        <li>
          <a [routerLink]=" ['../../social']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Social</a>
        </li>
        <li>
          <a [routerLink]=" ['../../partners']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Partners</a>
        </li>
        <li>
          <a [routerLink]=" ['../../contact']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Contact</a>
        </li>
        <li *ngIf="userService.getUser()?.admin">
          <a [routerLink]=" ['../../admin']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Admin</a>
        </li>
        <li class="btn-trial">
          <a [routerLink]=" ['../../login']" *ngIf="!userService.getUser()">Login</a>
        </li>
        <li *ngIf="userService.getUser()">
          <a [routerLink]=" ['../../profile']">Profile</a></li>
        <li  class="btn-trial">
          <a *ngIf="userService.getUser()" (click)="logout()">Logout</a>
        </li> 
      </ul>
    </div>
  </div>
</nav>
<!--/ Navigation bar-->