<section class="section-padding">
  <div class="container">
    <div class="row">
      <div class="header-section text-center">
        <h2>Manage Meetups</h2>
        <hr class="bottom-line"><br>
        <a class="admin-options"
        [routerLink]=" ['./add'] " 
        routerLinkActive="active" 
        [routerLinkActiveOptions]="{exact: true}"
        class="btn btn-default pull-right">+ Add Meetup</a>
      </div>
      <div class="col" *ngFor="let meetup of meetups">
        <meetup-list [meetup]="meetup" [admin]="true">
          <button class="admin-options"
          (click)="onDelete(meetup)"
          id="delete-btn" class="btn btn-default">Delete</button>
          <a class="admin-options" 
          [routerLink]=" ['./edit', meetup._id] " 
          routerLinkActive="active" 
          [routerLinkActiveOptions]="{exact: true}"
          id="edit-btn" class="btn btn-default">Edit</a>
        </meetup-list>    
      </div>
    </div>
  </div>
</section>

