<section class="section-padding">
    <div class="container">
        <div class="row">
            <div class="header-section text-center">
                <h2>Manage Meetups</h2>
                <hr class="bottom-line">
            </div>
            <div class="col" *ngFor="let meetup of meetups">
                <meetup-list [meetup]="meetup" [admin]="true">
                    <a [routerLink]=" ['../../meetups', meetup._id] " routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
                    id="delete-btn" class="btn btn-default">Delete</a>
                    <a [routerLink]=" ['./edit', meetup._id] " routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
                    id="edit-btn" class="btn btn-default">Edit</a> 
                </meetup-list>    
            </div>
        </div>
    </div>
</section>

