<!--meetup-card-->
<section id="work-shop" class="section-padding">
  <div class="container">
    <div class="row">
      <div class="header-section text-center">
        <h2>Meetups</h2>
        <p>Free events every other month where we meet, eat and share knowledge. New talks on latest trends in Angular & JavaScript.
          <br>Check out current meetups:</p>
        <hr class="bottom-line">
      </div>
      <div class="col-md-9 col-sm-12">
        <app-big-card [meetupImage]="currentMeetup" ></app-big-card>
        <span id="past">Latest</span>
      </div>
      <div class="col-md-3 col-sm-12">
        <div class="service-box text-center" *ngFor="let meetup of previousMeetups">
          <div class="icon-text">
            <h4 class="ser-text"><a [routerLink]=" ['../meetups', meetup._id] " routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">{{meetup.name}} #{{meetup.sequenceNo}}</a></h4>
            <h6> {{ meetup.location }}</h6>
          </div>
        </div>

         <div class="service-box text-center">
            <a [routerLink]=" ['../meetups/all'] " routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"> See all meetups </a>
          </div>

        <span id="past">Past</span>
      </div>

    </div>
  </div>
</section>
<!--/ meetup-card-->
